/*fixes the padding of semantic menu*/
.ui.grid > .row {
    padding: 0px 0px 0px 0px;
}

/*next two will set the footer at the bottom,
and push the footer if content doesnt fit to screen */
.fullheight {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

/*this will create scrollbar to food card ingredients if too many ing
gredients in the list*/
.ui.dimmer {
  overflow: auto;
}
