<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <!-- meteor SEO http://www.manuel-schoebel.com/blog/meteor-and-seo-->
  <!--google search console verification-->
  <meta name="google-site-verification" content="_Vq8R3EdQK1Yz6JIwQA1NVX5uqMlJZoIDAXZ6o-LBVA" />
</head>

<body class="fullheight">
  <!-- this will be filled dynamically with meteor templates-->
</body>

<!--main layout. This goes first in to body. Then iron:router updates changing content in the yield slot.
{{> template}} is syntax for "template goes here" -->
<template name="layout">
  <header>
    {{> navbar}}
  </header>
  <main class="main">
    <div class="ui container">
      <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
          <div class="ui hidden divider"></div>
          {{> yield}}
          <div class="ui hidden divider"></div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    {{#if currentUser}} {{> attribution}} {{/if}}
  </footer>

</template>

<!-- -->
<template name="home">
  <div class="ui segments">
    <div class="ui segment">
      <h1>Welcome</h1>
      <p>Welcome to Feeder! Start by getting meal ideas in the Get Ideas! tab.
        Recipes that you like will get added to your menu
        and to your shopping list. You can also select diet in Profile -> Settings.
      </p>
    </div>
    <div class="ui segment">
      <h1>New version</h1>
      <p>You are now using version 0.0.1 alpha</p>
    </div>
  </div>
</template>

<!--footer for mandatory attribution-->
<template name="attribution">
  <div class="ui vertical right aligned footer segment">
    Recipe search powered by
    <a href='http://www.yummly.com/recipes'>
      <img alt='Yummly' src='http://static.yummly.com/api-logo.png' />
    </a>
  </div>
</template>
