<!--template for food card.
it shows start-button if the recipes are not loaded (full page reload)
It gets its data from foodcard.js Template.foodcard.helpers
Also loop through ingredients string array with #each -> this-->

<template name="foodcard">
  {{#if recipe}}
  <div class="ui centered card foodcard">
    <div class="ui dimmer left aligned">
      <div class="content">
        <div class="ui list ingred-list">
          {{#each ingredients}}
          <div class="item segment">{{this}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="ui image">
      <img class="foodimg" src="{{image}}">
    </div>
    <div class="content left aligned">
      <span class="header">{{title}}</span>
      <div class="meta">
        <span class="time"><i class="wait icon"></i>{{recipe.totalTime}}</span>
        <span class="portions"><i class="pie chart icon"></i>{{recipe.yield}}</span>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <button class="ui basic red button dislikebtn">MEH..</button>
        <button class="ui basic green button likebtn">YUM!!</button>
      </div>
    </div>
  </div>
  {{else}}
  <button class="massive ui button startbtn">Start!</button>
  {{/if}}
</template>
