<!--template for login
div monster-->
<template name="login">
  <div class="ui row">
    <div class="ui centered card">
      <div class="content">
        <div class="header">Welcome to feeder</div>
        <div class="meta">a Tinder-like app for food</div>
        <div class="description">
          Ever find yourself making the same food over and over again? Feeder will help you by providing meal suggestions. Press Yum! to add a meal to your weekly menu, or skip a meal for now by pressing Meh.. Feeder is an easy way to add diversity to your daily
          dining.
        </div>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui row">
    <div class="ui centered card">
      <form class="loginform">
        <div class="ui segment">
          <div class="field">
            <div class="ui input fluid">
              <input placeholder="Email" name="email" id="email" type="email" class="validate">
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="field">
            <div class="ui input fluid">
              <input placeholder="Password" name="password" id="password" type="password">
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="inline fields very padded left aligned">
            <div class="field">
              <div class="ui radio checkbox">
                <input name="radiogroup" type="radio" id="registerradio" />
                <label class="white-text" for="registerradio">New Account</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input name="radiogroup" type="radio" id="loginradio" checked="{{isLoginSelected}}" />
                <label class="white-text" for="loginradio">Existing Account</label>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- switch the button text based on radiobutton selection -->
      <div class="ui bottom attached button submit submitbtn">
        {{#if isLoginSelected}}Log in{{else}}Register{{/if}}
      </div>
    </div>
  </div>
  <!-- 3rd party buttons. They are disabled while they are
being configured -->
  <div class="ui horizontal divider">or log in with</div>
  <div class="row">
    <div class="segment">
      <div class="ui medium buttons">
        <button disabled="{{isDisabled}}" class="ui facebook button facebookbtn {{isDisabled}}">
          <i class="facebook icon"></i> Facebook
        </button>
        <div class="or"></div>
        <button class="ui google plus button googlebtn {{isDisabled}}">
          <i class="google plus icon"></i> Google
        </button>
      </div>
    </div>
  </div>
</template>
