<!-- template for navbar
it only shows the tabs when user is logged in (currentUser)
it switches to large icons only when on small screens
-->

<template name="navbar">
  <div class="ui five item inverted menu grid">
    <!--menu for smaller screens-->
    <div class="mobile tablet only row">
      <div class="header item"><a href="/">Feeder</a></div>
      {{#if currentUser}}
      <a href="/cards" class="item"><i class="large idea icon"></i></a>
      <a href="/weeksmenu" class="item"><i class="large book icon"></i></a>
      <a href="/shoppinglist" class="item"><i class="large shop icon"></i></a>
      <div class="ui simple dropdown item">
        <i class="large user icon"></i>
        <div class="menu">
          <a href="/settings" class="item">Settings</a>
          <!-- need to call Meteor logout so there's the class because of that-->
          <a href="/login" class="logoutbtn item">Logout</a>
        </div>
      </div>
      {{/if}}
    </div>
    <!--menu for larger screens-->
    <div class="ui row computer only">
      <div class="header item"><a href="/">Feeder</a></div>
      {{#if currentUser}}
      <a href="/cards" class="item"><i class="idea icon"></i>Get Ideas!</a>
      <a href="/weeksmenu" class="item"><i class="book icon"></i>Week's menu</a>
      <a href="/shoppinglist" class="item"><i class="shop icon"></i>Shopping list</a>
      <div class="ui simple dropdown item">
        <i class="user icon"></i>Profile
        <div class="menu">
          <a href="/settings" class="item">Settings</a>
          <a href="#" class="logoutbtn item">Logout</a>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

</template>
