<!--template for settings
dropdown values are the values that yummly uses for searching
different diets-->

<template name="settings">
  <div class="row">
    <div class="ui sub header">Select a diet</div>
    <select name="diet" class="ui fluid dropdown diet">
      <option value="">None</option>
      <option value="388^Lacto vegetarian">Lacto vegetarian</option>
      <option value="389^Ovo vegetarian">Ovo vegetarian</option>
      <option value="390^Pescetarian">Pescetarian</option>
      <option value="386^Vegan">Vegan</option>
      <option value="387^Vegan">Lacto-ovo vegetarian</option>
      <option value="403^Paleo">Paleo</option>
    </select>
  </div>

  <div class="ui hidden divider"></div>

  <div class="row">
    <div class="ui sub header">Tired of your old menu?</div>
    <button class="large ui fluid button clearbtn">Clear menus and shopping list</button>
  </div>
<!-- popup confirmation -->
  <div class="ui small modal">
    <div class="header">Warning</div>
    <div class="content">
      <p>You are about to clear all your recipes!</p>
    </div>
    <div class="actions">
      <div class="ui approve button okbtn">Yes - clear all</div>
      <div class="ui cancel button">No - don't clear</div>
    </div>
  </div>

</template>
