<template name="shoppinglist">
  <div class="left aligned row">
    <div class="ui large very relaxed divided list">
      {{#each groceries}}
      <div class="item">{{this}}</div>
      {{/each}}
    </div>
  </div>
</template>
