
<template name="foodmenu">
  <div class="ui styled accordion myAccordion">
    {{#each recipe in recipes}}
    <div class="title">
      <i class="dropdown icon"></i> {{recipe.name}}
    </div>
    <div class="content">
      <div class="ui two column grid">
        <div class="left aligned column">
          <div class="ui list">
            {{#each recipe.ingredientLines}}
            <div class="item segment">{{this}}</div>
            {{/each}}
          </div>
          <i class="wait icon"></i>{{recipe.totalTime}}
          <br>
          <a href="{{recipe.source.sourceRecipeUrl}}">
            Directions: {{recipe.source.sourceDisplayName}}</a>
        </div>
        <div class="column">
          <!-- here could be desserts if had more time -->
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>
